input{
    background: transparent;
    display: block;
    border: 0;
    border-bottom: 1px solid #343434;
    width:100%;
    padding-bottom: 8px;
}
textarea, 
.serviceOptions{
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 0;
}
.serviceOptions{
    padding: 6px;
    border-bottom: 1px solid #343434;
}
.serviceOptions:active{
    border: 0;
}
textarea{
    height: 100px;    
}

.submitButton{
    padding: 10px 40px;
    background-color: #076847;
    border: 0;
    color: #fff;
}

.file{
    border: 0;
}

.smpt{
    /* padding-top: 0 !important; */
}

@media screen and (max-width: 600px){
    .smpt{
        margin-top: 40px !important;
    }
}