.a-blog-heading h2{
    padding-bottom: 4%;
    font-weight: bold;
}


.a-blog-cards-heading{
    font-weight: bold;
    padding: 6% 4% 0%;
}

.a-blog-cards .img{
    width: 100%;
}

.a-the-team-banner img{
    width: 100%;
}

.a-blog-card-holder .img{
    width: 100%;
}

.a-blog-card-holder p{
    padding: 0% 4% 0%;
}

.a-team-caption{
    color: #343434;
    padding-top: 2%;
    width: 65%;
}

.a-team-gallery-wrapper{
    padding-top: 10%;
    padding: 10% 0 5%   ;
}

.pushtop{
    margin-top: 15%;
}

/* .a-team-bg3{
    background-image: url('../../images/gallery3.png');
}
.a-team-bg2{
    background-image: url('../../images/gallery2.png');    
}   
.a-team-bg1{
    background-image: url('../../images/gallery1.png');
} */

.a-team-bg3,
.a-team-bg2,
.a-team-bg1{
    height: 400px;
}

.a-previous-works1{
    background-image: linear-gradient( to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3), url('../../images/project2.png'));
    height: 300px;
    background-size: cover;
    width: 100%;
}